.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;

  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
  }

  .search-box {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;

    input[type="text"] {
      width: calc(100% - 40px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      &::placeholder {
        color: #999;
      }
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color:black;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    

    .image {
      overflow: hidden;
      border-radius: 10px;
     

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
        height: 200px;
      
      }
    }
  }

  .loading-indicator {
    text-align: center;
    margin-top: 20px;
    font-style: italic;

    .spinner {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left: 4px solid #333;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
p {
  margin: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-heart {
  color: red;
}


.fab {
  font-size: 20px;
  margin-right: 5px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #3c97bf; /* Ndrysho ngjyrën kur hoverohet mbi ikonën */
  }
}

a {
  color: #3c97bf;
  text-decoration: none;
  margin-right: 5px;
}




i {
  font-size: 20px;
  float: left;
}



